{% extends "./base.html" %}

{% block title %} Gestión de Cursos {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Registrar usuario</h2>
        <div class="card">
            <div class="card-body">
                <form action="/regclientes/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="name1" name="name1" value= "{{clien.nombre}}"class="form-control" placeholder="Nombre"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                      <input type="text" id="ape1" name="ape1" value= "{{clien.apellido}}" class="form-control" placeholder="Apellido"
                          maxlength="50" required>
                    
                  </div>
                    <div class="form-group">
                        <input type="text" id="tfno1" name="tfno1" value= "{{client.telefono}}" class="form-control" placeholder="Telefono"
                        maxlength="50" required>
                    </div>
    
                    <div class="form-group">
                      <input type="text" id="dic1" name="dic1" value= "{{client.direccion}}" class="form-control" placeholder="Direccion"
                          maxlength="50" required>
                  </div>
                  <div class="form-group">
                    <input type="text" id="ema1" name="ema1" value= "{{client.Email}}"class="form-control" placeholder="Email"
                        maxlength="50" required>
                </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Usuarios registrados</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Telefono</th>
                        <th>Direccion</th>
                        <th>Email</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in client %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.nombre}}</td>
                        <td>{{c.apellido}}</td>
                        <td>{{c.telefono}}</td>
                        <td>{{c.direccion}}</td>
                        <td>{{c.Email}}</td>
                        <td><a href="guarclientes/{{c.id}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarCliente/{{c.id}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}