<!DOCTYPE html>
<html lang="en">
<div class="container">
    <h1 style="color: brown">Contáctenos</h1>
    
    <b>
      WhatsApp: 74567831
  </b>
  <p></p>
  <b>
     Email: tecnomundo@gmail.com
  </b>
  <p></p>
     
    <b>
     Facebook: TecnoMundoOfcial 
  </b>
  <p></p>
     
    <b>
      ubicación: Estamos ubicados en la 2a. Av. Sur y 2a. Calle Oriente, Santiago de María., Usulután
  </b>
  <p></p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3879.874359292812!2d-88.46838848682653!3d13.481838690522567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f7b359a6e1f0b27%3A0x62fb065c68b80c78!2sParque%20San%20Rafael!5e0!3m2!1ses-419!2ssv!4v1670465812273!5m2!1ses-419!2ssv" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <p></p>
      <b class="navbar-brand" href="#">
           ¡ES UN GUSTO ATENDERLE! 
      </b>
    
      <body class= "row" bg-success justify-container-center>
      </body>

  
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>
</html>