{% extends "./base.html" %}

{% block title %} Gestión de clientes {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
            <h1> Editar usuario</h1>
            <div class="card">
              <div class="card-body">
            <form action="/guarclientes/{{cliente.id}}" method="POST">{% csrf_token %}
              <div class="form-group">
                <div class="form-group">
                  <input type="text" id="name1" name="name1" value= "{{cliente.nombre}}"class="form-control" placeholder="Nombre"
                      maxlength="50" required>
              </div>
              <div class="form-group">
                <input type="text" id="ape1" name="ape1" value= "{{cliente.apellido}}" class="form-control" placeholder="Apellido"
                    maxlength="50" required>
              
            </div>
              <div class="form-group">
                  <input type="text" id="tfno1" name="tfno1" value= "{{cliente.telefono}}" class="form-control" placeholder="Telefono"
                  maxlength="50" required>
              </div>

              <div class="form-group">
                <input type="text" id="dic1" name="dic1" value= "{{cliente.direccion}}" class="form-control" placeholder="Direccion"
                    maxlength="50" required>
            </div>
            <div class="form-group">
              <input type="text" id="ema1" name="ema1" value= "{{cliente.Email}}"class="form-control" placeholder="Email"
                  maxlength="50" required>
          </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                  </div>
        </form>
        {% endblock %}

 



</body>