<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compaible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>venta de equipos tecnologicos</title>
    <div class="container">
        <h1 style="color: green">TecnoMundo</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" 
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="quienessomos.html">¿Quienes somos?</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Productos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                 <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="busqueda" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
      </nav>

      <!DOCTYPE html>
      <html>
       
      <head>
          <title>
            WhatsApp: 74567831
        </title>
       
          <!-- Include Bootstrap CSS -->
          <link rel="stylesheet" href=
      "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      </head>
       
      <body>
                  <!-- Navbar text is dark and background is light -->
                  <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="#">
                     
                  </a>
                </nav>
             
                <nav class="navbar navbar-light bg-warning">
                    <a class="navbar-brand" href="#">
                     CPU
                  </a>
                </nav>
             
                <!-- Navbar text is light and background is dark -->
                <nav class="navbar navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">
                    USB
                  </a>
                </nav>
                
                <nav class="navbar navbar-dark bg-primary">
                    <a class="navbar-brand" href="#">
                     Computadoras
                  </a>
                
                </nav>
             
                <nav class="navbar navbar-dark bg-secondary">
                    <a class="navbar-brand" href="#">
                      Ventiladores 
                  </a>
                </nav>
             
                <nav class="navbar navbar-dark bg-success">
                    <a class="navbar-brand" href="#">
                      Componentes
                  </a>
                </nav>
       
          <div class="container">
              <h1 style="color: brown">Contáctenos</h1>
              <b>
                WhatsApp: 74567831
            </b>
            <p></p>
            <b>
               Email: tecnomundo@gmail.com
            </b>
            <p></p>
               
              <b>
               Facebook: TecnoMundo
            </b>
            <p></p>
               
              <b>
                ubicación: Estamos ubicados en la 2a. Av. Sur y 2a. Calle Oriente, Santiago de María., Usulután
            </b>
            <p></p>
                
                <b class="navbar-brand" href="#">
                     ¡ES UN GUSTO ATENDERLE! 
                </b>
              
                <body class= "row" bg-success justify-container-center>
                </body>

                <body 
                    <img src = "logo.jpg.jpeg" class = "mx-auto">
                </body>



            
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
</body>
</html>