<!DOCTYPE html>
<html lang="en">
<head>
    
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compaible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>venta de equipos tecnologicos</title>
    <div class="container">
        <h1 style="color: green">¿Quienes somos?</h1>
        <p>  </p>
        
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-5d9a9d12" data-id="5d9a9d12" data-element_type="column">
            <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                		<div class="elementor-element elementor-element-4371e63b elementor-widget elementor-widget-cms_heading" data-id="4371e63b" data-element_type="widget" data-widget_type="cms_heading.default">
				<div class="elementor-widget-container">
			<div class="cms-heading-wrapper cms-heading-layout1">

        <div class="custom-subheading">¡Los mejores productos a los mejores precios!</div>
    
        <h2 class="custom-heading">
            <p>

            </p>
        <span >Porque confiar en nosotros.</span>
    </h2>
    
</div>		</div>
            </div>
            <section class="elementor-section elementor-inner-section elementor-element elementor-element-8d686f7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8d686f7" data-element_type="section">
        
                    <div class="elementor-container elementor-column-gap-no ">
                        <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-b7ef66b" data-id="b7ef66b" data-element_type="column">
        <div class="elementor-column-wrap elementor-element-populated">
                        <div class="elementor-widget-wrap">
                    <div class="elementor-element elementor-element-0312d4c elementor-widget elementor-widget-text-editor" data-id="0312d4c" data-element_type="widget" data-widget_type="text-editor.default">
            <div class="elementor-widget-container">
                <div class="elementor-text-editor elementor-clearfix"><p style="text-align: justify;"><strong>Somos una empresa dedicada a la comercialización de productos tecnológicos enfocados al Hogar y Oficinas.. </strong></p>
<p style="text-align: justify;">Nos apasionada crear ambientes inteligentes, a través de diferentes dispositivos y productos de domótica para nuestros clientes. Nos preocupamos por cumplir con los requerimientos de nuestros clientes a nivel nacional. .</p>
<p style="text-align: justify;">Nuestro compromiso está en ofrecer un servicio seguro y garantizado, donde las personas puedan acceder y comprar cualquier producto sin salir de casa y recibirlo con total seguridad.</p></div>

            </div>
        </div>	
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-5a9b963a" data-id="5a9b963a" data-element_type="column">
            <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                		<div class="elementor-element elementor-element-5a81e0ae elementor-widget elementor-widget-cms_company_history" data-id="5a81e0ae" data-element_type="widget" data-widget_type="cms_company_history.default">
				<div class="elementor-widget-container">
			    <div class="cms-company-history">
        <div class="history-content-items">
                                                <div class="content-item">
                        <div class="left-content">
                            <h4 class="timeline-year">Misión</h4>
                        </div>
                        <div  class="right-content"">
                            <p class="timeline-text">Satisfacer las necesidades tecnológicas de nuestros clientes, siendo nuestro principal objetivo un manejo eficiente y adecuado de toda la infraestructura tecnológica de la información.</p>
                        </div>
                    </div>
                                                                    <div class="content-item">
                        <div class="left-content">
                            <h4 class="timeline-year">Visión</h4>
                        </div>
                        <div  class="right-content"">
                            <p class="timeline-text">Ser la Mejor plataforma para comprar tus productos de tecnología, con garantía y seguridad en El Salvador.</p>
                        </div>
                    </div>
                                                                    <div class="content-item">
                        <div class="left-content">
                            <h4 class="timeline-year">Valores</h4>
                        </div>
                        <div  class="right-content"">
                            <p class="timeline-text">Honestidad, Respeto, Responsabilidad.</p>
                        </div>
                    </div>
                                        </div>
    </div>
		</div>
				</div>
				<div class="elementor-element elementor-element-474b9e61 elementor-widget elementor-widget-spacer" data-id="474b9e61" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>

         <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
</html> 