<!DOCTYPE html>
<html lang="en">
<head>

    
    
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
</body>
<body>

    <div class="container">

    <div class="signup-form-container">
    
         <!-- form start -->
         <form role="form" id="register-form" autocomplete="off">
         
         <div class="form-header">
         <!-- form header -->       
         </div>
         
         <div class="form-body">
                          
          <!-- form body will be here, input controls -->              
              
         </div>
            
         <div class="form-footer">
            <!-- form footer, let say for submit button -->
         </div>

         </form>
            
    </div>

    </div>
</body>
<div class="container">
    <h1 style="color: green">TecnoMundo</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-green">
    <a class="navbar-brand" href="inicio.html">Inicio</a>
</div>
<body>

    {% block content%}
    <h1>Registrar Usuario</h1>
    <div class="container">
        <form method="post" action="/registro/">{% csrf_token %}
          <div class="form-group">
            <label for="ExampleInputEmail" class="col-sm-2 col-form-label">Nombre de Usuario</label>
          
             {{form.username}}
            
          </div>
          <div class="form-group">
            <label for="ExampleInputEmail" class="col-sm-2 col-form-label">Email</label>
            
              {{form.email}}
            
          </div>
          <div class="form-group">
            <label for="ExampleInputEmail" class="col-sm-2 col-form-label">Nombre</label>
            
              {{form.first_name}}
            
          </div>
          <div class="form-group">
            <label for="ExampleInputEmail" class="col-sm-2 col-form-label">Apellido</label>
        
              {{form.last_name}}
        
          </div>
          <div class="form-group">
            <label for="ExampleInputPassword" class="col-sm-2 col-form-label">Contraseña</label>
            
         
              {{form.password1}}
            </div>
            <div class="form-group">
            <label for="ExampleInputPassword" class="col-sm-2 col-form-label"> Confirmar Contraseña</label>
                
            {{form.password2}}
          </div>
          <button class="btn btn-outline-success">Crear Cuenta</button>
        </form>
        <a href="/">¿Ya tienes un Cuenta? Ingresa</a>
      </div>
    
        {% endblock %}
 </body>
 <script src="bootstrap/js/bootstrap.min.js"></script>
<script src="assets/jquery-1.11.2.min.js"></script>
<script src="assets/jquery.validate.min.js"></script>
<!-- javascript/jquery validations will be here  -->
 
</html>
